<div class="container-fluid">

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">

    <% if @product.errors.any? %>
      <hr>
      
      <div style="color:red;">
        <h5><%= @product.errors.count %> errors found.</h5>
        <ul>
          <% @product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= render partial: "form", locals: { product: @product, url: admin_products_path, submit_btn: "Create Product" } %>
      
    </div>
    <div class="col-3">
    </div>
  </div>
    
</div>
